
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Namerator</title>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script lang="text/javascript">

      $(function() {

        $("#animals-button").click(function(){
            $.get("/Action/Animal/10", function(data){
              $("#name-list").empty();
              $("#name-list").append($("<li class=\"list-group-item active\">").html(window.location.origin  + "/Action/Animal/10"));
                $.each(data,function(key,value){
                  $("#name-list").append(
                      $("<li class=\"list-group-item\">").html(value.hyphens)
                    );
                });
            });
        });


        $("#truckers-button").click(function(){
            $.get("/Size/Colour/Number/10", function(data){
              $("#name-list").empty();
              $("#name-list").append($("<li class=\"list-group-item active\">").html(window.location.origin  + "/Size/Colour/Number/10"));
                $.each(data,function(key,value){
                  $("#name-list").append(
                      $("<li class=\"list-group-item\">").html(value.hyphens)
                    );
                });
            });
        });

        $("#categories-button").click(function(){
            $.get("/Category/Category/Category/10", function(data){
              $("#name-list").empty();
              $("#name-list").append($("<li class=\"list-group-item active\">").html(window.location.origin  + "/Size/Colour/Number/10"));
                $.each(data,function(key,value){
                  $("#name-list").append(
                      $("<li class=\"list-group-item\">").html(value.hyphens)
                    );
                });
            });
        });

      });

    </script>

  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>Namerator  <small>[neym-uh-rey-ter]</small></h1>
        <p class="lead">Generate some names!</p>
        <p>
          <a class="btn btn-lg btn-success" href="#" id="animals-button" role="button">Animals</a>
          <a class="btn btn-lg btn-success" href="#" id="truckers-button" role="button">Truckers</a>
          <a class="btn btn-lg btn-success" href="#" id="categories-button" role="button">Categories</a>
        </p>
        <p><a class="btn btn-lg btn-primary" data-toggle="collapse" href="#collapseAPI" aria-expanded="false" aria-controls="collapseAPI">Show api</a></p>
      </div>

    <div class="collapse" id="collapseAPI">
      <div class="card">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">GET /{category}/{quantity}</h3>
          </div>
          <div class="panel-body">
            <h4 style="color:#5bc0de;">Parameters</h4>
            <table class="table table-condensed">
              <tr class="active"><th>Parameter</th><th>Description</th></tr>
              <tr><td>category</td><td>The collection to select a random value from. You can have up to 5, seperated by /. There is a special category of 'Category', which will return a random allowable category</td></tr>
              <tr><td>quantity</td><td>Optional. Specify how many different results to generate. The default is 5, and the maximum is 50.</td></tr>
            </table>
            <h4 style="color:#5bc0de;">Responses</h4>
            <table class="table table-condensed">
              <tr class="active"><th>Code</th><th>Description</th></tr>
              <tr><td style="color:#13c20f;">200</td><td>OK</td></tr>
              <tr><td style="color:#f39822;">422</td><td>Unprocessable Entity if {quantity}&gt;50</td></tr>
            </table>
          </div>
        </div>

      </div>
    </div>

      <ul class="list-group" id="name-list">
      </ul>


    </div> <!-- /container -->

  </body>
</html>
